.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "b b b" "i i i";
  gap: 1rem;
  .container {
    padding: 2rem 2rem;
    color: #041421;
    img {
      height: 3rem;
      margin-right: 1rem;
    }

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
    }
  }
  .img-container {
    grid-area: i;
    background-color: $dark-blue;
    height: auto;
    padding: 2rem 0;
    img {
      width: 40%;
    }
  }
  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    .container {
      margin: 0 0;
    }
  }
}
