.mobile-app {
  background-image: linear-gradient($light-violet, $dark-blue);
  width: 100%;
  padding: 2rem 0;
  color: $light-gray;
  overflow: hidden;
  h1 {
    color: $light-yellow;
    width: fit-content;
    margin: auto;
    position: relative;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 70%;
      left: -5%;
      width: 110%;
      height: 40%;
      border-radius: 50%;
      box-shadow: 0px 40px 20px $dark-blue;
    }
  }
  .circle {
    margin: 50px auto 150px auto;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    background-image: linear-gradient($dark-blue, #c0bee0);
    position: relative;
    img {
      max-width: 200px;
      position: absolute;
      left: 50px;
      top: -50px;
    }
    p {
      font-size: 10pt;
    }
    .pop-box {
      font-size: 10pt;
      position: absolute;
      background-color: white;
      color: $dark-blue;
      font-weight: $regular;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      z-index: 3;
    }
    polyline {
      fill: none;
      stroke: white;
      stroke-dasharray: 6 6;
      stroke-width: 3;
    }
    .one {
      left: -100px;
      top: 0;
    }
    .poly1 {
      position: absolute;
      left: -50px;
      top: -5px;
      z-index: 2;
    }
    .two {
      right: -100px;
      top: -10px;
    }
    .poly2 {
      position: absolute;
      left: -50px;
      top: 160px;
      z-index: 2;
    }
    .img-two {
      display: block;
      position: absolute;
      left: 270px;
      top: 60px;
      z-index: 3;
      max-width: 150px;
    }
    .three {
      left: -130px;
      top: 130px;
    }
    .poly3 {
      position: absolute;
      left: 330px;
      top: 0px;
      z-index: 2;
    }
    .four {
      max-width: 250px;
      right: -150px;
      top: 210px;
    }
    .poly4 {
      position: absolute;
      left: -50px;
      top: 160px;
      z-index: 2;
    }
    .five {
      max-width: 300px;
      left: -100px;
      bottom: -100px;
      .profile-circle {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: $light-violet;
      }
      p {
        margin-left: 4rem;
        text-align: left;
      }
      .pop-button {
        cursor: pointer;
        display: block;
        border: 1px solid $dark-blue;
        border-radius: 100px;
        color: $dark-blue;
        text-transform: uppercase;
        margin-top: 0.5rem;
        padding: 0.5rem;
      }
    }
    @media (max-width: 615px) {
      transform: scale(0.7);
      margin-top: -30px;
      margin-bottom: 40px;
    }
    @media (max-width: 450px) {
      transform: scale(0.5);
      margin-top: -50px;
      margin-bottom: -10px;
    }
  }
  .tips-title {
    margin: 3rem 0 2rem 0;
    padding: 1rem;
    width: 100%;
    background-color: rgb(43, 49, 65);
    h3 {
      font-weight: $bold;
      font-size: 14pt;
    }
  }

  .email-input {
    height: 3rem;
    form {
      margin: auto;
      display: flex;
      justify-content: center;
      max-width: 400px;
      padding: 0 2rem;
    }
    input {
      width: 100%;
      height: 3rem;
      margin: 0;
      font-size: 14pt;
      font-weight: 400;
      padding: 0 1rem;
      border: none;
      min-width: 0;
      &::placeholder {
        color: black;
      }
    }
    button {
      flex-shrink: 0;
      font-weight: 700;
      display: inline-block;
      text-align: center;
      font-size: 14pt;
      background-color: $light-yellow;
      border: none;
      padding: 0 1rem;
      height: 3rem;
      cursor: pointer;
    }
  }
}
